*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
header{
    height: 348px;
    background-color: #0020F4;
    padding-top: 40px;
}
nav li{
    display: inline-block;
}
nav a{
    color: white;
}
.section-title{
   border: none; 
   margin-top: 30px;
   margin-bottom: 30px;
   height: 33px;
   margin-right: 844px;
   margin-left: 362px;
   margin: 30px 50px;
}
section{
    max-width: 1195px;
    margin: auto;
    margin-top: -100px;
    font-size: 28px;
}
.main-img{
    width: 100%;
}
.side-img{
    max-width: 219px;
    margin:auto;
}